

body {
    /*background-color: #589649;*/
    /*background-color: #2c2c2c;*/
    background-image: linear-gradient(100deg, #1a1b1a, #4d4c4c);
    font-family: 'Work Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.calculator {
    background-color: #7e7e7e;
    border: 2px solid #1a1b1a;
    border-radius: 8px;
    padding: 50px;
}

#display {
    width: 100%;
    padding: 20px 10px 10px 10px;
    margin-bottom: 15px;
    font-size: 18px;
    border: 3px solid #0f0f0f;
    border-radius: 5px;
    box-sizing: border-box;
    user-select: pointer;
}

button {
    background-color: #1a1b1a;
    color: white;
    width: 48px;
    height: 48px;
    font-size: 24px;
    font-weight: bold;
    margin: 5px;
    cursor: pointer;
}

.github-corner {
    position: absolute;
    padding: 0px;
    top: 5px;
    right: 5px;
    border: 0px;
}

